.content__title {
    font-size: 22px;
    font-weight: 700;
}
.content__title + ul, .content__title-bigger + ul, .content__title-bigger + .content__title {
    margin-top: 10px
}

.content__title-bigger {
    margin-left: 10px;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
}

.content__text {}

/*  */
.links, .donate {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}