.content__title {
    font-size: 22px;
    font-weight: 700;
}
.content__title + ul, .content__title-bigger + ul, .content__title-bigger + .content__title {
    margin-top: 10px
}

.content__title-bigger {
    margin-left: 10px;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
}

.content__text {}

/* friends */
.friends {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.friends__item {
    display: flex;
    flex-direction: column;
}
.friends__item-name {justify-self: center}
.friends__item img {transition: transform 0.2s, scale 0.2s}
.friends__item:hover img {transform: translate(0, -5%) scale(105%)}
.friends__item:active img {transform: translate(0, +5%) scale(95%)}