.friends {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.friends__item {
    display: flex;
    flex-direction: column;
}
.friends__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .friends__item-name {justify-self: center} */
.friends__item img {transition: transform 0.2s, scale 0.2s}
.friends__item:hover img {transform: translate(0, -5%) scale(105%)}
.friends__item:active img {transform: translate(0, +5%) scale(95%)}