@import url('normalize.css');
@import url('basic.css');

@import url('header.css');
@import url('content.css');

@import url('avatar.css');
@import url('embeds.css');
@import url('add-my-button.css');
@import url('webring.css');

@import url('favmusic.css');

@import url('screensaver.css');