@import url('normalize.css');
@import url('basic.css');

@import url('header.css');
@import url('content.css');

@import url('avatar.css');
/* @import url('donate.css'); */

@import url('favmusic.css');