.main {
	display: flex;
	align-items: center;
	min-height: 95vh;
}

.indexBlock {
	padding: 20px;
	border-radius: 20px;
}

.card img {
	width: 110px;
	border-radius: 6px;
	margin: 5px;
}
.main-title {
	margin-bottom: 14px;
	text-align: center;
	font-weight: 700;
	font-size: 1.2rem;
}
.index__btn {
	border-radius: 5px;
	margin-top: 8px;
	display: flex;
	justify-self: center;
	align-self: end;
	background: #28bd40;
	border: 2px solid #28bd40;
	font-size: 1.3rem;
	padding: 2px;
	cursor: pointer;
	transition: transform 0.3s;
}
.index__btn a {
	color: white;
}