.card {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.card__img img {
    border-radius: 50px;
    max-width: 300px;
}

.card__title {
	font-weight: 700;
	font-size: 24px;
}

.card__links, .card__genders, .card__friends, .card__other {
    display: flex;
	flex-wrap: wrap;
    gap: 5px;
}

.card__links {
    max-width: 250px;
    justify-content: center;
}

.card__links-item img, .card__genders-item img, .card__friends img, .card__other-item img {
    width: 55px;
    transition: transform 0.3s;
}

.card__links-item img:hover, .card__friends-item img:hover, .card__other-item img:hover {
    transform: translate(0, -3px);
}

.card__friends-item img, .card__other-item img {
    border-radius: 10px;
}
